// $main-background-color: rgb(212, 231, 237);
$main-background-color: #f8f9fa;
$second-main-color: #67c2e8;

//navbar
.blog-header {
    line-height: 1;

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .btn {
        padding: .25rem .5rem;
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .2rem;
        margin: 10px;
    }

    a {
        text-decoration: none;

        &:hover {
            background-color: $second-main-color;
            color: $main-background-color;
            border: 1px solid $second-main-color;
        }
    }

    .nav-bar-profile-img img {
        height: 50px;
        width: 50px;
    }

}

.nav-bar-logo-img img {
    width: 80px;

}


// header image
.header-img {
    width: 100%;
    height: 400px;
    background-image: url(image-path("home.jpg"));
    background-size: cover;
}


// home content
.container.home {
    max-width: 1000px;
}


.box {

    padding: 0 70px;
    height: 250px;

    .left {
        flex: 1;
        background-color: $second-main-color;
    }

    .right {
        flex: 1;
    }
}


// search here button
.inner-box.top-left button {
    background-color: $main-background-color;
    color: $second-main-color;

    a {
        text-decoration: none;
    }

    &:hover {
        background-color: $second-main-color;
        border: 1px solid $main-background-color;
        color: $main-background-color;
    }

}

.inner-box.top-right button {
    a {
        text-decoration: none;
    }

    background-color: $second-main-color;
    color: $main-background-color;

    &:hover {
        background-color: $main-background-color;
        border: 1px solid $second-main-color;
        color: $main-background-color;
    }

}

.bottom-left button {
    background-color: $main-background-color;

    // color: $second-main-color;
    &:hover {
        background-color: $second-main-color;
        border: 1px solid $main-background-color;
        color: $main-background-color;
    }

}

// about content
.about {

    .right {
        background-color: $main-background-color;
    }
}

.box .tl,
.box .br {
    background-color: $second-main-color;

}

.box {
    display: flex;
    height: 300px;
    margin: 15px;
}

.inner-box.top-left,
.inner-box.top-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 92px;

}


.inner-box.bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 45px;
}

// footer
.footer {
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    color: #b2b3ba;
    background-color: #414042;
}